<div class="jumbotron">
    <h1 class="display-4">The Scraped Post</h1>
    <p class="lead">Add your notes to all the latest articles.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/scrape" role="button" id="scrape-btn">Update Articles</a>
</div>
<div class="container col-11">
    {{#each articles}}
    <div class="article-container">
        <a href={{link}}>
            <h5>
                {{title}}
            </h5>
        </a>
        <p>{{description}}</p>
        <div class="collapse multi-collapse{{_id}} col-4 pl-0" id="multiCollapseExample1-{{_id}}">
            <input type="text" name="title" id="title-{{_id}}" class="form-control" placeholder="Title">
        </div>
        <div class="collapse multi-collapse{{_id}} col-4 pl-0" id="multiCollapseExample2-{{_id}}">
            <textarea type="text" name="note" id="note-{{_id}}" class="form-control" placeholder="Note"></textarea>
        </div>
        <p>
            <button class="btn btn-primary note-btn" type="button" data-toggle="collapse"
                data-target=".multi-collapse{{_id}}" aria-expanded="false"
                aria-controls="multiCollapseExample1-{{_id}} multiCollapseExample2-{{_id}}" data-id={{_id}}>Notes</button>
                <span id="close-{{_id}}"></span>
        </p>
    </div>
    {{/each}}
</div>