<div class="jumbotron jumbotron-fluid">
    <div class="title-container col-lg-4 p-4 ml-4">
        <h1 class="display-6">The Scraped Post</h1>
        <p class="lead">Find the latest articles and add your custom notes.</p>
    </div>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg mr-5" href="/" role="button" id="scrape-btn">Update Articles</a>
</div>
<div class="container col-11">
    {{#each articles}}
    <div class="article-container card">
        <div class="card-body">
            <a href={{link}} target="_blank">
                <h4 class="card-title">
                    {{title}}
                </h4>
            </a>
            <p class="card-text">{{description}}</p>
            <div class="collapse new-note-collapse-{{_id}} note-form col-lg-6 pl-0" id="new-note-{{_id}}">
                <input type="text" name="title" id="title-{{_id}}" class="form-control" placeholder="Title">
                <textarea type="text" name="note" id="note-{{_id}}" class="form-control" placeholder="Note"></textarea>
            </div>
            <div class="collapse all-notes-collapse-{{_id}} all-notes col-lg-6 pl-0" id="new-note-{{_id}}">
                {{#each note}}
                <div class="accordion" id="accordion-{{_id}}">
                    <div class="card">
                        <div class="card-header row" id="heading-{{_id}}">
                            <h2 class="mb-0 col-md-11">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo-{{_id}}" aria-expanded="false"
                                    aria-controls="collapseTwo-{{_id}}">
                                    {{title}}
                                </button>
                            </h2>
                            <button type="button" class="close delete-note col-md-1" aria-label="Close" data-id={{_id}}>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="collapseTwo-{{_id}}" class="collapse" aria-labelledby="heading-{{_id}}"
                            data-parent="#accordion-{{_id}}">
                            <div class="card-body">
                                {{note}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <button class="btn btn-primary note-btn" type="button" data-toggle="collapse"
                data-target=".new-note-collapse-{{_id}}" aria-expanded="false" aria-controls="new-note-{{_id}}"
                data-id={{_id}} id="note-btn-{{_id}}">Create New Note</button>
            {{#if note.length}}
            <button class="btn btn-primary btn-secondary" type="button" data-toggle="collapse"
                data-target=".all-notes-collapse-{{_id}}" aria-expanded="false"
                aria-controls="multiCollapseExample1-{{_id}}" data-id={{_id}} id="all-notes-{{_id}}">View All Notes</button>
            {{/if}}
            <button class="btn btn-primary btn-danger note-btn" type="button" data-toggle="collapse"
                data-target=".new-note-collapse-{{_id}}" aria-expanded="false" aria-controls="new-note-{{_id}}"
                data-id={{_id}} style="display: none;" id="close-btn-{{_id}}">Close</button>

            </p>
        </div>
    </div>
    {{/each}}
</div>