<div class="jumbotron">
    <div class="title-container col-xs-3 ml-4">
    <h1 class="display-4">The Scraped Post</h1>
    <p class="lead">Find the latest articles and add your custom notes.</p>
    </div>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg mr-5" href="/scrape" role="button" id="scrape-btn">Update Articles</a>
</div>
<div class="container col-11">
    {{#each articles}}
    <div class="article-container card">
        <div class="card-body">
        <a href={{link}}>
            <h4 class="card-title">
                {{title}}
            </h4>
        </a>
        <p class="card-text">{{description}}</p>
        <div class="collapse multi-collapse{{_id}} col-lg-6 pl-0" id="multiCollapseExample1-{{_id}}">
            <input type="text" name="title" id="title-{{_id}}" class="form-control" placeholder="Title">
        </div>
        <div class="collapse multi-collapse{{_id}} col-lg-6 pl-0" id="multiCollapseExample2-{{_id}}">
            <textarea type="text" name="note" id="note-{{_id}}" class="form-control" placeholder="Note"></textarea>
        </div>
        <p>
            <button class="btn btn-primary note-btn" type="button" data-toggle="collapse"
                data-target=".multi-collapse{{_id}}" aria-expanded="false"
                aria-controls="multiCollapseExample1-{{_id}} multiCollapseExample2-{{_id}}" data-id={{_id}}
                id="note-btn-{{_id}}">Notes</button>
            <button class="btn btn-primary btn-danger note-btn close-{{_id}}" type="button" data-toggle="collapse"
                data-target=".multi-collapse{{_id}}" aria-expanded="false"
                aria-controls="multiCollapseExample1-{{_id}} multiCollapseExample2-{{_id}}" data-id={{_id}}
                style="display: none" id="close-btn-{{_id}}">Close</button>

        </p>
        </div>
    </div>
    {{/each}}
</div>